<% set_title "Home" %>

<% unless @event.nil? %>
  <p>
    <b>Title:</b>
    <%= @event.title %>
  </p>

  <p>
    <b>Body:</b>
    <%= markdown @event.body %>
  </p>

  <p>
    <b>Date:</b>
    <%= @event.date %>
  </p>

  <%= link_to 'detail', @event %>
<% end %>
