<%- set_title '404' %>
<h1>
  404 Not Found
</h1>

<p>
  Ruby and her friends can't find what your looking for. We're sorry, keep looking, never settle!
</p>

<p>
  <%= image_tag "ruby_and_friends.png" %>
</p>
